<div class="HomePage__wrapper full-screen">
    <div class="HomePage_header flex full-width padding_container-l flex-justify-between">

        <div class="HomePage__header-addBtn padding_container-xs
                    flex flex-center cursor-pointer" @click="changeAddFormVisible()">
            +
        </div>
        <div>
            <span class="HomePage__header-userName">{{ userName }}</span>
            <span @click="logout" class="HomePage__header-logout cursor-pointer">Выход</span>
        </div>
    </div>
    <div class="HomePage_filter full-width padding_container-l
                flex flex-justify-end">
        <select name="filter" v-model="onlyActive" @change="applyFilter">
            <option value="0">Все</option>
            <option value="1">Активные</option>
        </select>
    </div>
    <AddForm v-if="addFormVisible"
             @close="changeAddFormVisible()"
             @submit="getItems()"
    />
    <div class="HomePage__content full-screen">
        <div class="div"
             :key="item.id"
             v-for="item in items">
            <TaskRender
                    :data="item"
                    @deleted="deleteTask"
                    @completeTask="completeTask"
            />
        </div>
    </div>
</div>